<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Simple Form Page</title>
</head>
<body>
  <header>
    <h1>Welcome to My Simple Form Page</h1>
  </header>

  <main>
    <p>This is a basic HTML structure.</p>
  </main>

    <form action="" method="post"><input type="hidden"/>
        {% csrf_token %}
        <button type="submit">submit</button>
    </form>

  <footer>
    <p>&copy; 2025 Your Company</p>
  </footer>
</body>
</html>
